@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "normalize.css";

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', "Roboto", "Arial", monospace, sans-serif;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    font-size: larger;
}

.header {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #1F2937;
    color: white;
}

.logo {
    margin-right: 100px;
}

.number {
    margin-right: auto;
    align-self: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
    background-image: url("images/mtns.jpg");
    background-color: #e5e7eb;
    color: #1F2937;
}

.hero .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 800px;
    gap: 50px;
}

.hero-title {
    font-size: 68px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
}

.why-choose-title {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    margin-left: 50px;
}

.why-choose-text {
    font-size: 25px;
    font-weight: bolder;
    gap: 0px;
    margin: 0px;
    padding: 0px;
    margin-left: 75px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    color:#e5e7eb;
    background-color: #004867;
}

.intro {
    font-size: 20px;
    font-weight: bolder;
    justify-content: center;
    padding: 20px;
}

.fight-section, .advocacy-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.fight-title, .advocacy-title {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.fight-text, .advocacy-text {
    font-size: 26px;
    font-weight: 600;
    color: #1F2937;
}

.common-injuries {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background-color: #e5e7eb;
    gap: 50px;
}

.common-header {
    color: #1F2937;
    font-size: 25px;
    font-weight: 700;
}

.common-text {
    color: #1F2937;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 10px;
}

#linkTitle, #blogTitle {
    color: #1F2937;
    font-size: 40px;
}

/* About */
.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 70px;
    padding-top: 70px;
    background-image: url("images/abstract.jpg");
    background-color: #e5e7eb;
    color: #1F2937;
}

.aboutContent {
    border-color: #1F2937;
    background-color: #e5e7eb;
    border-width: 3px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#aboutTitle {
    color: #1F2937;
    font-size: 40px;
    text-align: center;
} 

img.scuba {
   opacity: 1;
}

img.scuba:hover {
    opacity: 0.2;
}


/* Resources */
.linkContainer {
    background-image: url("images/abstract.jpg");
    background-color: #e5e7eb;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1F2937;
    padding-bottom: 500px;
}

.linkContent {
    display: flex;
    flex-direction: column;
    border-color: #1F2937;
    background-color: #e5e7eb;
    width: 50%;
    height: 90%;
    border-width: 3px;
    border-style: solid;
    padding: 20px;
}


/* Contact form */
.contactContent {
    padding: 50px;
    display: flex;
    justify-content: center;
    background-image: url("images/abstract.jpg");
    background-color: #cccccc;
}

#formTitle {
    color: #1F2937;
    font-size: 40px;
}

.placeholderRed {
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

#firstName, #lastName, #phoneNum, #email {
    width: clamp(200px, 350px, 450px);
}

#message {
    width: clamp(250px, 400px, 500px);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-color: #1F2937;
    border-style: solid;
    border-radius: 6px;
    gap: 20px;
    width: 55%;
    background-color: #e5e7eb;
    color: #1F2937;
}

.sendBtn {
    border-color: #e5e7eb;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    color: #e5e7eb;
    background-color: #004867;
    font-size: 18px;
    font-weight: 600;
    width: 170px;
    padding: 7px;
}

.sendBtn:hover {
    color: #004867;
    background-color: #e5e7eb; 
    border: solid #004867;
    border-radius: 6px;  
    cursor: pointer;
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

p.success {
    padding: 30px;
    margin-bottom: 600px;
    margin-top: 100px;
    width: 300px;
    color: #1F2937;
    font-size: 20px;
    font-weight: 600;
    border-style:double;
    border-color: #1F2937;
    border-radius: 6px;
    text-align: center;
}


/* Blog */
.blogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    background-image: url("images/abstract.jpg");
    background-color: #e5e7eb;
}

.blogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.blog {
    border-color: #1F2937;
    background-color: #e5e7eb;
    border-width: 3px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.blogTitles {
    color: #1F2937;
    font-size: 20px;
}